.SearchView {
    &__container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        height: 100%;
    }

    @media(min-width: 768px) {
        &__container {
            width: 60%;
        }
    }
}
    
