.TextInput__field {
    height: 58px;
    padding: 19px 45px 21px 13px;
    &::placeholder {
        font-size: 16px;
        line-height: 58px;
        letter-spacing: 0.4px;
        color: rgba(102, 102, 102, 0.466455);
    }
    
}