.PasswordInput {

    &__field {
        height: 58px;
        padding: 19px 45px 21px 13px;
        margin-top: 0;
        &::placeholder {
            font-size: 16px;
            line-height: 58px;
            letter-spacing: 0.4px;
            color: rgba(102, 102, 102, 0.466455);
        }
    }
    

    &__field-wrapper {
        width: 100%;
        margin-top: 4px;
        position: relative;
    }

    &__eye {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 18px;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__field[type=password] ~ &__eye path {
        fill: black;
    }

    &__field[type=text] ~ &__eye path {
        fill: var(--green);
    }
    
}