.AvatarContainer {
    position: relative;
    
    &__header {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    

    &__avatar-image {
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
}

// .AvatarContainer--info-visible .UserInfo  {
//     display: block; 
// }

