.ProductGridItem {
    padding: 3px 3.5px;
    display: flex;
    flex-direction: column;


    &__img {
        width: 100%;
        padding-top: 69.8%;
        height: 0;
        background-repeat: no-repeat;
        background-color: grey;
        background-position: center;
        background-size: cover;
    }
    &__info {
        padding: 5px 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    &__title {
        font-size: 15px;
        line-height: 17px;
        color: #373738;
        margin: 0;
        font-weight: normal;
    }

    &__price {
        font-size: 18px;
        line-height: 21px;
        color: #101010;
        margin: 0;
        font-weight: bold;
    }
}