.sell {
    font-size: 14px;
    line-height: 31px;
    max-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background: var(--green);
    border-radius: 4px;
    width: 9vw;
}