.LikedMenuLink {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &__active-heart {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }
}