.footer {
    // height: 7.76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    &__item {
        font-size: 14.4px;
        line-height: 1.18em;
        color: #C0C4CE;
        text-decoration: none;
        display: inline-block;
        padding: 2vh 0 2.8vh 0;
    }

    @media(min-width: 768px) {
        &__item { 
            padding: 1.5em 0 2.28em 0;
        }
        
    }

}