.Chat {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // max-height: 100%;
        padding-bottom: 7.5%;
    }

    &__messages {
        overflow: auto;
        padding-bottom: 24px;
    }

    &__input-wrapper {
        display: flex;
        height: 56px;
        flex-shrink: 0;
    }

    &__input {
        height: 100%;
        flex: 1;
    }
    &__send {
        height: 100%;
        background-color: none;
    }
}