.Chat {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-height: 100%;
    }

    &__messages {
        overflow: auto;
    }

    &__input-wrapper {
        display: flex;
        height: 56px;
    }

    &__input {
        height: 100%;
        flex: 1;
    }
    &__send {
        height: 100%;
        background-color: none;
    }
}