.Chat {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // max-height: 100%;
        padding-bottom: 7.5%;
        background-color: white;
    }

    &__messages {
        // overflow: auto;
        padding-bottom: 24px;
        flex-grow: 1;
    }

    &__input-wrapper {
        display: flex;
        height: 56px;
        flex-shrink: 0;
    }

    &__input {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0 72px 0 20px;
        &::placeholder {
            font-size: 13px;
        line-height: 22px;
        color: #97A3B4;
        }
    }
    &__send {
        height: 100%;
        background-color: none;
    }

    &__participants {
        padding: 8px;
        height: 12%;
        display: flex;
        align-items: center;
        margin-bottom: auto;
        flex-shrink: 0;
        background-color: #f2f2f2;
    }
    &__participant {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__participant-name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: #131314;
        padding-left: 1em;
    }

    &__avatar-wrapper {
        width: 45px;
        height: 45px;
        border: 1px solid var(--blue) 50%;
    }
    &__hide-on-mobile {
        height: 100%;
        width: 50px;
        margin-right: 1em;
    }

    @media(min-width: 769px) {
        &__hide-on-mobile {
            display: none;
        }

        &__participants {
            padding: 8px 16px;
        }
    }
}