.Message {
    &__wrapper {
        display: flex;
        padding: 0 16px;
        margin: 8px;
    }
    &__container {
        padding: 8px;
        background-color: #f3f6fa;
        color: black;
        border-radius: 20%;
        display: inline-block;
    }
    &__participant {
        background-color: #F3F6FA;
    }
    &__own {
        background-color: var(--light-green);
        margin-left: auto;
    }
}