.Inbox {
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-rows: auto 1fr;
    overflow: hidden;
    &__container {
        display: flex;
        flex: 1;
        flex-direction: row;
        height: 100%;
        max-height: 100%;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        flex: 4;
        border-right: 1px solid #ccc;
        overflow: auto;
    }
    &__main {
        display: flex;
        flex: 6;
        height: 100%;
    }

    &__chat-link {
        min-height: 30px;
        border-bottom: 1px solid #E7E9ED;
        padding-left: 9.2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
    }
    &__chat-title {
        font-size: 15px;
        line-height: 22px;
        color: #131314;
        font-family: Montserrat;
    }
    &__chat-username {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        color: #97A3B4;
    }
    &__last-message {
        font-size: 15px;
        line-height: 22px;
        color: #97A3B4;
    }
}