.Inbox {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;

    overflow: hidden;
    &\--visible-chat {
        .Inbox__main {
            display: flex;
        }
        .Inbox__aside {
            z-index: -1;
        }
    }
    &__container {
        display: block;
        position: absolute;
        height: 100%;
        max-height: 100%;
        width: 100%;
        overflow: hidden;
        bottom: 0;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        flex: 4;
        border-right: 1px solid #ccc;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        height: 100%;
    }
    &__main {
        flex: 6;
        height: 100%;
        display: none;
    }

    &__chat-link {
        min-height: 30px;
        border-bottom: 1px solid #E7E9ED;
        padding-left: 9.2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
    }
    &__chat-title {
        font-size: 15px;
        line-height: 22px;
        color: #131314;
        font-family: Montserrat;
        font-weight: bold;
    }
    &__chat-username {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        color: #97A3B4;
    }
    &__last-message {
        font-size: 15px;
        line-height: 22px;
        color: #97A3B4;
        font-style: italic;
    }

    @media(min-width: 769px) {
        &\--visible-chat {
            .Inbox__aside {
                z-index: 1;
            }
        }
        &__container {
            display: flex;
            flex: 1;
            flex-direction: row;
        }
        &__aside {
            position: static;
            width: initial;
            height: initial;
        }
        &__main {
            display: flex;
        }
    }
}